In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('track.csv',index_col=0)

In [3]:
df

                               lat        lng      height
time
2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
2015-08-20 03:48:29.720  35.014704  32.519691  119.900002
2015-08-20 03:48:30.669  35.014657  32.519734  120.900002
2015-08-20 03:48:33.793  35.014563  32.519719  121.699997
2015-08-20 03:48:34.869  35.014549  32.519694  121.199997
2015-08-20 03:48:37.708  35.014515  32.519625  121.699997
2015-08-20 03:48:38.839  35.014505  32.519599  121.800003
2015-08-20 03:48:41.980  35.014481  32.519514  122.599998
2015-08-20 03:48:42.725  35.014472  32.519486  123.000000
2015-08-20 03:48:45.896  35.014439  32.519405  122.699997
2015-08-20 03:48:46.662  35.014432  32.519379  122.699997
2015-08-20 03:48:49.829  35.014414  32.519309  122.699997
2015-08-20 03:48:50.665  35.014400  32.519287  123.300003
2015-08-20 03:48:53.692  35.014372  32.519211  122.300003
2015-08-20 03:48:54.662  35.014365  32.519187  122.599998
2015-08-20 03:48:58.869  35.014337  32.519106  122.000000
2015-08-20 03:48:59.663  35.014331  32.519084  121.800003
2015-08-20 03:49:03.861  35.014303  32.519009  122.900002
2015-08-20 03:49:04.663  35.014306  32.518989  122.900002
2015-08-20 03:49:07.742  35.014340  32.518916  123.099998
2015-08-20 03:50:13.679  35.013531  32.517636  115.199997
2015-08-20 03:50:16.767  35.013606  32.517589  114.300003
2015-08-20 03:50:17.719  35.013630  32.517574  114.199997
2015-08-20 03:50:20.748  35.013705  32.517529  113.800003
2015-08-20 03:50:21.681  35.013730  32.517512  114.199997
2015-08-20 03:50:24.735  35.013809  32.517459  114.000000
...                            ...        ...         ...
2015-08-20 04:19:38.820  35.015705  32.516157  116.500000
2015-08-20 04:19:41.881  35.015640  32.516211  115.400002
2015-08-20 04:19:42.825  35.015617  32.516225  114.099998
2015-08-20 04:19:45.963  35.015551  32.516278  113.500000
2015-08-20 04:19:46.890  35.015533  32.516301  112.500000
2015-08-20 04:19:49.987  35.015468  32.516361  112.000000
2015-08-20 04:19:50.878  35.015444  32.516380  112.699997
2015-08-20 04:19:53.937  35.015369  32.516442  112.500000
2015-08-20 04:19:54.896  35.015343  32.516462  112.599998
2015-08-20 04:19:58.048  35.015264  32.516517  112.300003
2015-08-20 04:19:58.898  35.015238  32.516537  112.099998
2015-08-20 04:20:01.965  35.015157  32.516592  110.099998
2015-08-20 04:20:02.886  35.015129  32.516610  109.800003
2015-08-20 04:20:05.959  35.015048  32.516665  107.699997
2015-08-20 04:20:06.823  35.015023  32.516683  107.500000
2015-08-20 04:20:09.926  35.014943  32.516736  107.599998
2015-08-20 04:20:10.824  35.014916  32.516754  107.099998
2015-08-20 04:20:14.040  35.014835  32.516800  106.099998
2015-08-20 04:20:14.888  35.014810  32.516818  105.199997
2015-08-20 04:20:17.897  35.014737  32.516873  106.400002
2015-08-20 04:20:18.844  35.014709  32.516889  106.400002
2015-08-20 04:20:21.996  35.014617  32.516933  103.500000
2015-08-20 04:20:22.897  35.014584  32.516945  103.099998
2015-08-20 04:20:24.905  35.014518  32.516971  103.800003
2015-08-20 04:20:25.835  35.014484  32.516984  104.199997
2015-08-20 04:20:28.982  35.014387  32.517020  104.800003
2015-08-20 04:20:29.923  35.014355  32.517035  105.199997
2015-08-20 04:20:32.863  35.014279  32.517087  102.900002
2015-08-20 04:20:33.994  35.014264  32.517098  102.400002
2015-08-20 04:20:42.329  35.014212  32.517142  103.400002

[740 rows x 3 columns]

In [4]:
len(df)

740

In [5]:
df.columns

Index(['lat', 'lng', 'height'], dtype='object')

In [6]:
df.dtypes

lat       float64
lng       float64
height    float64
dtype: object

In [7]:
df = pd.read_csv('track.csv',parse_dates=['time'])

In [8]:
df.dtypes

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [9]:
df.head()

                     time        lat        lng      height
0 2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1 2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2 2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002